spring:
  datasource:
    url: ${DB_URL}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC

  jpa:
    hibernate:
      ddl-auto: update
    show_sql: false

server:
  port: ${PORT:8080}

app:
  jwt:
    secret: ${JWT_SECRET}
    access-expiration: 900000
    refresh-expiration: 604800000